footer {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    padding: 50px 150px;
    padding-right: 300px;
}

footer h6 {
    margin-bottom: 20px;
}

footer h6 a.underline {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.list-group {
    display: flex;
    justify-content: space-between;
}

.list-group ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
}

.list-group ul li a {
    color: white;
}

section {
    margin-bottom: 40px;
}

small {
    font-size: 0.8rem;
}