section {
    min-height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 150px;
}

section div:first-child {
    width: 45%;
}

section .img-container {
    width: 50%;
}

section .img-container img {
    width: 100%;
}

section h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

section h3 {
    font-size: 1.4rem;
    margin-top: 16px;
    line-height: 2rem;
    font-weight: 500;
}

.column {
    flex-direction: column;
}

@media (max-width: 950px) {
    section {
        flex-direction: column;
        padding: 50px 100px;
    }

    section div:first-child {
        width: 100%;
        text-align: center;
    }

    section .img-container {
        width: 100%;
    }

    section h1 {
        font-size: 2rem;
    }

    section h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    section {
        padding: 50px 30px;
    }
}